h1 {
	text-align: center;
	color: #0000AB;
    font: Arial,Tahoma,Helvetica,FreeSans,sans-serif;
    font-family: Arial,Tahoma,Helvetica,FreeSans,sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
}